body {
    padding-top: 54px;
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
    margin:0;
    height: 100%;

}

.container {
    min-height: 100%;
    position: relative;

}

.navbar {
    padding-top: 5px;
    border: 0px;
    border-radius: 0px;
    background-color: black;
    font-family: 'Press Start 2P', cursive;

}

.navbar-brand {
    font-size: 28px;
   /*font-family: 'Black Ops One', cursive;*/
    font-family: 'Press Start 2P', cursive;
    box-shadow: 0px 0px 20px 5px #006aeb;
    margin-right: 6px;
    margin-bottom: 4px;

}

.container-fluid {
    background-color:#006aeb;
    height: 5px;
}

.navbar-toggle {
    background-color: #006aeb;
    border: 1px solid silver;
}


.navbar-inverse .navbar-brand {
    color: #006aeb;
}

.dropdown-menu {
    background-color: white;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #0073ff;
}

.jumbotron {
    padding-top: 5px;
    margin-top: 20px;
    background-color: black;
    border-radius: 0px;
    height: 100%;
    color: white;
    box-shadow: 1px 0px 25px 5px #0073ff;
    position: relative;
    margin-bottom: 140px;
    overflow: hidden;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #006aeb;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    max-height: 200px;
    background-color: black;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

.col-md-4 {
    margin-top: 5px;
    text-align: right;
    color: silver;
}

.col-md-4 a:hover,
.col-md-4 a:focus {
    color: white;
    text-decoration: none;
}

.col-md-4 a {
    color: silver;
    text-decoration: none;
}

.btn-default:focus,
.btn-default.focus {
    color: white;
    background-color: #006aeb;
}
.btn-default:hover {
    color: white;
    background-color: #006aeb;
}

.form-control:focus {
    border-color: black;
    box-shadow: 1px 1px 10px 10px #006aeb
}

#randomfield {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 200px;
    color: black;
    border-color: black;
    background-color: white;
    text-align: center;
    text-shadow: 2px 2px #0073ff;
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    box-shadow: 1px 0px 10px 5px #0073ff;
}

@media all and (max-width: 699px) and (min-width: 200px) {
    img {
        width: 250px;
        overflow: hidden;
    }
}

#subscribeForm {
    display: none;
}



.row img{
    max-width: 420px;
}

.row td a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: white;

}

.textglow h3 {
    font-weight: bold;
    text-shadow: -1px 1px #FEFFDC;
}

.textglow h2 {
    font-weight: bold;
    text-shadow: -1px 1px #FEFFDC;
}

.row td, th {
    padding-right: 30px;
}

.textglow {
    border-bottom: dashed 1px silver;
    padding-bottom: 25px;
    word-wrap: break-word;
}

.textglow:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}


.prev {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 0%;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("http://responsiveslides.com/themes/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.next {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    right: 0%;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("http://responsiveslides.com/themes/themes.gif") no-repeat right top;
    margin-top: -45px;
}

.rslides_tabs {
    text-align: center;
    margin-top: 5px;
}

.rslides_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: silver;
    display: inline-block;
    _display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 20px;
}

.rslides_tabs li {
    display: inline;
    margin-right: 5px;

}

.rslides_here a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background:  #0073ff;
    display: inline-block;
    _display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 20px;

}



@media all and (max-width: 699px) and (min-width: 200px) {
    .next {
        z-index: 3;
        position: fixed;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        top: 50%;
        right: -2%;
        opacity: 0.7;
        text-indent: -9999px;
        overflow: hidden;
        text-decoration: none;
        height: 61px;
        width: 34px;
        background: transparent url("http://responsiveslides.com/themes/themes.gif") no-repeat right top;
        margin-top: -45px;
    }

    .prev {
        z-index: 3;
        position: fixed;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        top: 50%;
        left: -2%;
        opacity: 0.7;
        text-indent: -9999px;
        overflow: hidden;
        text-decoration: none;
        height: 61px;
        width: 34px;
        background: transparent url("http://responsiveslides.com/themes/themes.gif") no-repeat left top;
        margin-top: -45px;
    }

}

